$sm-max-device-width: 760px;
$md-min-device-width: 768px;
$md-max-device-width: 992px;
$lg-min-device-width: 993px;
$lg-max-device-width: 1200px;
$xl-min-device-width: 1201px;

@mixin small() {
  @media screen and (max-device-width: $sm-max-device-width) {
    @content;
  }

}

@mixin medium() {
  @media screen and (min-device-width: $md-min-device-width) and (max-device-width: $md-max-device-width) {
    @content;
  }
}

@mixin large() {
  @media screen and (min-device-width: $lg-min-device-width) and (max-device-width: $lg-max-device-width) {
    @content;
  }
}

@mixin extra-large() {
  @media screen and (min-device-width: $xl-min-device-width) {
    @content;
  }
}
